.App {
  text-align: center;
}
.bg_color {
  background-color: #e10098 !important;
}
.submit_button {
  background-color: #e10098 !important;
  margin-top: 1rem !important;
}
.color {
  color: #e10098 !important;
}
.links {
  color: #e10098 !important;
}
.links:hover {
  color: #a40973 !important;
}
.form__icon {
  font-size: 70px !important;
  color: #e10098 !important;
}
.container__m {
  padding: 1rem 2rem !important;
}
.button__bg {
  background-color: #e10098 !important;
  color: #fff !important;
  padding: 0.5rem 2rem !important;
}
.button__bg:hover {
  background-color: #aa0375 !important;
}
